<%- include('./partials/head') %>
<%- include('./partials/navigation') %>
<body>
<main class="gridcontainter">
    <section>
        <h1>BNR beats business</h1>
        <!--        https://developer.mozilla.org/en-US/docs/Web/CSS/animation-->

        <img src="assets/BNR-logo.jpg" alt="logo" class="article__img">
        <button class="playbutton">

            dit is de knop
        </button>
        <video controls="" autoplay="" name="media"><source src="http://25683.live.streamtheworld.com/BNR_BUSINESS_BEATS.mp3" type="audio/mpeg"></video>

    </section>
    <section class="nieuws">

        <h1>Nieuws</h1>
        <ul class="nieuws__carousssel">
            <li class="nieuws__filter"><a href="/" class="nieuws__link">alles</a></li>
            <li class="nieuws__filter"><a href="/" class="nieuws__link">economie</a></li>
            <li class="nieuws__filter"><a href="/" class="nieuws__link">niews&politiek</a></li>
            <li class="nieuws__filter"> <a href="/" class="nieuws__link">Internationaal</a></li>
        </ul>
    </section>
    <section class="sectionArticles">
        <% articles.forEach(article => { %>
            <article class="articles">
                <h2 class="article__title"><%= article.title %></h2>
                <% if (article.photo) { %>
                    <picture>
                        <source srcset="<%= article.photo.URL%>?width=400&height=300&fit=cover&format=avif"
                                type="image/avif">

                        <source srcset="<%= article.photo.URL %>?width=400&height=300&fit=cover&format=webp"
                                type="image/webp">


                        <img src="https://bnr-external-prod.imgix.net/<%= article.photo.URL %>?width=400&height=300&fit=cover"
                             alt="Image of the house" width="<%= article.photo.URLe %>"
                             height=" <%= article.photo.URL %>" class="article__img"
                        >
                    </picture>
                <% } %>


            </article>
        <% }) %>

    </section>





</main>
</body>
