<%- include('./partials/head') %>
<%- include('./partials/navigation') %>
<body>
<main class="desktopSpacing">
    <h1>Articles</h1>
    <ul>
        <% articles.forEach(article => { %>
            <li>
                <h2><%= article.title %></h2>
                <p><%= article.introduction %></p>
                <% if (article.photo) { %>
                    <img src="<%= article.photo.URL %>" alt="Article Image">
                <% } %>
            </li>
        <% }) %>
        <video controls="" autoplay="" name="media"><source src="http://25683.live.streamtheworld.com/BNR_BUSINESS_BEATS.mp3" type="audio/mpeg"></video>
    </ul>

</main>
</body>
