<%- include('partials/head.ejs') %>
    <%- include('partials/nav.ejs', {current: '/' }) %>

        <main>
            <section class="intro">
                <div class="intro-text">
                    <h1><span><b>D</b>utch</span><span><b>D</b>igital</span><span><b>A</b>gencies</span></h1>
                    <p>Samen maken digitale bureaus de wereld om ons heen steeds een beetje slimmer. Dutch Digital
                        Agencies
                        is
                        de
                        branchevereniging voor de beste verslimmers uit de Nederlandse digitale industrie.</p>
                    <button>Word ook lid!</button>
                </div>
                <div class="image-container">
                    <div class="member-counter value" target-value="160">0+ leden</div>
                    <img src="images/event-02.jpg" alt="">
                </div>
            </section>

            <section class="news">
                <h2>Laatste nieuws</h2>
                <ul>
                    <li>
                        <a href="https://dutchdigitalagencies.com/leer-het-dda-bestuur-kennen-3/">
                            <div class="image-container">
                                <img src="images/news-01.jpeg" alt="">
                                <p class="date">03 juni 2024</p>
                            </div>
                            <h3>Leer het DDA bestuur kennen</h3>
                        </a>
                    </li>
                    <li>
                        <a
                            href="https://dutchdigitalagencies.com/waarom-een-betere-iso-norm-de-weg-vrijmaakt-voor-een-inclusief-internet-in-de-toekomst/">
                            <div class="image-container">
                                <img src="images/news-02.webp" alt="">
                                <p class="date">23 mei 2024</p>
                            </div>
                            <h3>Waarom een betere ISO-norm de weg vrijmaakt voor een inclusief internet in de toekomst
                            </h3>
                        </a>
                    </li>
                    <li>
                        <a
                            href="https://dutchdigitalagencies.com/partnerbijdrage-rootnet-een-managed-hosting-bedrijf-voor-digital-agencies/">
                            <div class="image-container">
                                <img src="images/news-03.jpg" alt="">
                                <p class="date">29 april 2024</p>
                            </div>
                            <h3>Partnerbijdrage: Rootnet, een managed hosting bedrijf voor digital agencies</h3>
                        </a>
                    </li>
                    <li>
                        <a href="https://dutchdigitalagencies.com/leer-het-dda-bestuur-kennen-2/">
                            <div class="image-container">
                                <img src="images/news-04.jpg" alt="">
                                <p class="date">23 april 2024</p>
                            </div>
                            <h3>Leer het DDA bestuur kennen</h3>
                        </a>
                    </li>
                    <li>
                        <a
                            href="https://dutchdigitalagencies.com/de-balans-opgemaakt-het-belang-ontwikkelingen-en-resultaten-van-de-wwd/">
                            <div class="image-container">
                                <img src="images/news-05.png" alt="">
                                <p class="date">15 april 2024</p>
                            </div>
                            <h3>De balans opgemaakt: het belang, ontwikkelingen en resultaten van de WWD</h3>
                        </a>
                    </li>
                    <li>
                        <a
                            href="https://dutchdigitalagencies.com/europese-verkiezingsprogrammas-onder-de-loep-wat-zijn-de-heetste-digitale-hangijzers/">
                            <div class="image-container">
                                <img src="images/news-06.jpg" alt="">
                                <p class="date">08 april 2024</p>
                            </div>
                            <h3>Europese verkiezingsprogramma’s onder de loep: wat zijn de heetste digitale hangijzers?
                            </h3>
                        </a>
                    </li>
                </ul>
                <div class="button-container">
                    <button aria-label="vorige"><svg height="40" width="30" xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 330 330" xml:space="preserve">
                            <path
                                d="M233.3 306 127.5 165 233.3 24a15 15 0 1 0-24-18L96.7 156a15 15 0 0 0 0 18l112.5 150a15 15 0 1 0 24-18z" />
                        </svg>
                    </button>
                    <button aria-label="volgende"><svg height="40" width="30" xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 330 330" xml:space="preserve">
                            <path
                                d="M233.3 156 120.8 6a15 15 0 0 0-24 18l105.7 141L96.8 306a15 15 0 1 0 24 18l112.5-150a15 15 0 0 0 0-18z" />
                        </svg>
                    </button>
                </div>
                <a class="to-news" href="#">Naar het nieuwsoverzicht</a>
            </section>

            <section class="vacancies">
                <h2>Talent gezocht</h2>
                <ul class="vacancy-container">
                    <% vacancies.forEach(vacancy=> { %>
                        <% const agency=agencies.find(agencyItem=> agencyItem.id === vacancy.agency_id); %>
                            <li class="vacancy">
                                <a href="#">
                                    <h3>
                                        <%= vacancy.title %>
                                    </h3>
                                    <ul class="vacancy-info">
                                        <li>
                                            <%= agency ? agency.title : 'Unknown Agency' %>
                                        </li>
                                        <li>
                                            <%= vacancy.hours %> uur
                                        </li>
                                        <li>
                                            <%= vacancy.locatie %>
                                        </li>
                                        <li>
                                            <svg height="20" width="20" xmlns="http://www.w3.org/2000/svg"
                                                viewBox="0 0 330 330" xml:space="preserve">
                                                <path
                                                    d="M233.3 156 120.8 6a15 15 0 0 0-24 18l105.7 141L96.8 306a15 15 0 1 0 24 18l112.5-150a15 15 0 0 0 0-18z" />
                                            </svg>
                                        </li>
                                    </ul>
                                </a>
                            </li>
                            <% }); %>
                </ul>
                <a class="to-vacancies" href="#">Bekijk alle vacatures</a>
            </section>

            <section class="events">
                <h2>Events</h2>
                <p class="events-intro">Spraakmakende sprekers. Inspirerende kennissessies. Events waar je écht bij wilt
                    zijn. En waar je al
                    je
                    vakgenoten weer spreekt. Versterk je bureau met kennis en inspiratie over bureaumanagement,
                    leiderschap
                    en
                    de laatste ontwikkelingen. </p>
                <ul>
                    <li>
                        <a href="https://dda.livits.net/bijeenkomsten/openbaar/dda-golf-toernooi">
                            <div class="image-container">
                                <img src="images/event-01.jpeg" alt="">
                                <div class="event-info-container">
                                    <h3>DDA Golf Toernooi</h3>
                                    <div>
                                        <p>05 September 2024</p>
                                        <p>Ermelo</p>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="https://dutchdigitalagencies.com/event/dutch-digital-day-2024/">
                            <div class="image-container">
                                <img src="images/event-02.jpg" alt="">
                                <div class="event-info-container">
                                    <h3>Dutch Digital Day 2024</h3>
                                    <div>
                                        <p>28 June 2024</p>
                                        <p>Amsterdam</p>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="https://dutchdigitalagencies.com/event/dutch-digital-day-talentprogramma/">
                            <div class="image-container">
                                <img src="images/event-03.jpg" alt="">
                                <div class="event-info-container">
                                    <h3>Dutch Digital Day Talentprogramma</h3>
                                    <div>
                                        <p>28 June 2024</p>
                                        <p>Amsterdam</p>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </li>
                </ul>
                <a href="#" class="to-events">Bekijk alle events</a>
            </section>

            <section class="members">
                <h2>Onze leden</h2>
                <p>Digitale bureaus zetten technologische uitdagingen om in oplossingen die elke gebruiker verder
                    brengen.
                    Dat
                    doen ze met gebruiksvriendelijke apps en websites, betrouwbare platforms en krachtige campagnes.
                    Leer
                    onze
                    leden kennen en ontdek welk bureau het beste bij je past.</p>
                <div class="logo-container">
                    <ul>
                        <% agencies.forEach(agency=> { %>
                            <li>
                                <a href="#" tabindex="-1">
                                    <img src="	https://fdnd-agency.directus.app/assets/<%= agency.logo %>"
                                        alt="agency logo">
                                </a>
                            </li>
                            <% }); %>
                    </ul>
                </div>
                <a href="#" class="to-members">Bekijk al onze leden</a>
            </section>
        </main>

        <%- include('partials/foot.ejs', {current: '/' }) %>